<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="threeBytesCache" type="ThreeBytes.Caching.Core.Configuration.Concrete.CacheConfigurationSection, ThreeBytes.Caching.Core.Configuration.Concrete"/>
  </configSections>


  <connectionStrings>
    <!--<add name="ThreeByteLoggingContext" connectionString="data source=VEDO-LT;Database=ThreeBytesLogging;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ThreeByteLoggingContext" connectionString="data source=JONATHAN-PC;Database=ThreeBytesLogging;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <add name="ThreeByteLoggingContext" connectionString="data source=.\SQLEXPRESS;Database=ThreeBytesLogging;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <threeBytesCache readonly="false" writeonly="false" readwrite="false" />

  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="ThreeBytes.Logging.Messages" Endpoint="threebytes-logging"></add>
    </MessageEndpointMappings>
  </UnicastBusConfig>

  <MsmqSubscriptionStorageConfig Queue="threebytes-logging-subscriptions" />
  <MsmqTransportConfig
    InputQueue="threebytes-logging"
    ErrorQueue="threebytes-logging-error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <appSettings>
    <add key="EndpointConfigurationType" value="ThreeBytes.Logging.ServiceHost.EndpointConfig, ThreeBytes.Logging.ServiceHost"/>
  </appSettings>
</configuration>