<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
  </configSections>
  
  <connectionStrings>
  </connectionStrings>

  <MsmqSubscriptionStorageConfig Queue="projecthollywood-subscriptions" />

  <MsmqTransportConfig
    InputQueue="projecthollywood"
    ErrorQueue="projecthollywood-error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <appSettings>
    <add key="EndpointConfigurationType" value="ThreeBytes.ProjectHollywood.ServiceHost.EndpointConfig, ThreeBytes.ProjectHollywood.ServiceHost"/>
  </appSettings>
</configuration>