@using System.Web.Script.Serialization
@model ThreeBytes.User.Profile.View.Entities.UserProfileViewProfile

<div id="current-user-profile-details-container" class="widget">
    <div class="widget-header">
        <i class="icon-star"></i>
        <h3>User Details</h3>
        <button class="btn btn-primary pull-right-menu" data-bind="click: raiseEdit">Update</button>
    </div>
    <div class="widget-content">
        <div class="row">    
            <div class="span4">
                <div class="display-label">Username</div>
                <div class="display-field" data-bind="text: Username"></div>

                <div class="display-label" data-bind="visible: Forename().length > 0">Forename</div>
                <div class="display-field" data-bind="text: Forename"></div>
            </div>
            <div class="span4">
                <div class="display-label" data-bind="visible: Surname().length > 0">Surname</div>
                <div class="display-field" data-bind="text: Surname"></div>

                <div class="display-label">Email</div>
                <div class="display-field" data-bind="text: Email"></div>
            </div>
        </div>
    </div>
</div>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"    
        var current_user_profile_details  = {};

        (function (index) {
        
            current_user_profile_details = index = ko.mapping.fromJS(" + @Html.Raw(new JavaScriptSerializer().Serialize(Model)) + @");;

            index.raiseEdit = function () {
                jQuery(document).trigger('userProfileEdit');
            };

            jQuery(document).bind('userProfileUpdated', function (event, item) {
                index.Username(item.Username());
                index.Forename(item.Forename());
                index.Surname(item.Surname());
                index.Email(item.Email());
            });

            jQuery(function() {
                ko.applyBindings(index, jQuery('#current-user-profile-details-container')[0]);
            });

        } (current_user_profile_details));");
  }
}