@model LoginStatisticViewModel

<div id="monthly-login-statistic-container" class="stat">								
    <h4>Unique <span data-bind="text: plural"></span> This Month</h4>
    <span class="value">@Model.CurrentStatistic</span>								
</div>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"
        var monthly_login_statistic  = {};
    
        (function (index) {
        
            monthly_login_statistic = index = ko.mapping.fromJS(" + @Html.Raw(new JavaScriptSerializer().Serialize(Model)) + @");

            index.plural = ko.dependentObservable(function () {
                return index.CurrentStatistic() == 1 ? 'Login' : 'Logins';
            }, index);

            jQuery(function() {
                ko.applyBindings(index, jQuery('#monthly-login-statistic-container')[0]);
            });     

        } (monthly_login_statistic));");
  }
}