@{
    Page.Title = "History";
}
<section id="history">
    <div class="row">
        <div class="span6">&nbsp;</div>
        <div class="span6"> 
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-pushpin"></i>
                    <h3>Our History</h3>
                </div>
                <div class="widget-content">
                    <p>The global de Wolfe dynasty historically and still today, has its members at the forefront of the entertainment, <a href="http://www.dewolfe.co.uk/" rel='tooltip' title='For more information on de Wolfe Music click.'>music*</a>, and legal industries.</p>
                    <p>
                        The late Felix de Wolfe, was the founder of the Felix de Wolfe Theatrical and Literary Agency, which for over sixty years has represented some of the best loved internationally renowned stars.
                        His daughter Caroline de Wolfe, who took the helm in 2004, worked alongside him for 20 years and shares his passion for the business and his traditional work ethic.
                    </p>
                    <p>
                        Felix's hallmarks as an agent were his talent for friendship and his endless courtesy and patience. Many of his clients became personal friends, and his reputation throughout the industry was a fair but charmingly  effective negotiator.
                        In a world where celebrity has become the universal currency, Felix's style was wonderfully un-vulgar and full or old-world gravitas.
                        He simply wouldn't countenance short-term money-spinning deals.
                        Client's careers were, in many cases literally, a lifetime's reponsibility.
                    </p>
                    <p>
                        His solicitude and professional charm cloaked a brilliant instinct for matching talent to popular taste: few agents were able to read the emerging zeitgeist like de Wolfe.
                        These rare qualities are still the corner stones of the agency ethos today.
                    </p>
                    <p>
                        Through Caroline and her team's progressive approach she has successfully renewed the agency without compromising her father's principles, pushing it forward into a new and demanding present.
                        Developing and strengthening home and international relationships, to be a catalyst for the careers of her lesser-known clients, and a facilitator to the already established ones.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>