@{
    Page.Title = Resources.BrowserTitle;
}

<section id="home">
    <div class="row">
        <div class="span12">
            <div class="widget big-stats-container">
                <div class="widget-content">
                    <div id="big_stats" class="cf">
                        @{ Html.RenderAction("MostRecent", "ExceptionWidget"); }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
