@{
    ViewBag.Title = "User Dashboard";
}

<section id="user-user-home">
    <div class="row">    
	    <div class="span12">      		
	      	<div class="widget big-stats-container">		
	      		<div class="widget-content">			
			      	<div id="big_stats" class="cf">
						@{ Html.RenderAction("DailyStatistic", "LoginStatisticsDaily"); }	
						@{ Html.RenderAction("MonthlyStatistic", "LoginStatisticsMonthly"); }	
                        @{ Html.RenderAction("DailyStatistic", "RegistrationStatisticsDaily"); }
                        @{ Html.RenderAction("MonthlyStatistic", "RegistrationStatisticsMonthly"); }
					</div>				
				</div>					
			</div>
	    </div>	      	
	</div>
    <div class="row">
        <div class="span8">            
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3>Login Statistics</h3>
                </div>
                <div class="widget-content">
                    <div class="row">    
                        <div class="span4">
                            @{ Html.RenderAction("DailyStatistics", "LoginStatisticsDaily"); }
                            @{ Html.RenderAction("MonthlyStatistics", "LoginStatisticsMonthly"); }
                        </div>
                        <div class="span3">
                            @{ Html.RenderAction("QuarterlyStatistics", "LoginStatisticsQuarterly"); }
                            @{ Html.RenderAction("YearlyStatistics", "LoginStatisticsYearly"); }
                        </div>  
                    </div>
                </div>
            </div>
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-user"></i>
                    <h3>Registration Statistics</h3>
                </div>
					
                <div class="widget-content">
                    <div class="row"> 
                        <div class="span4">
                            @{ Html.RenderAction("DailyStatistics", "RegistrationStatisticsDaily"); }
                            @{ Html.RenderAction("MonthlyStatistics", "RegistrationStatisticsMonthly"); }
                        </div>
                        <div class="span3">
                            @{ Html.RenderAction("QuarterlyStatistics", "RegistrationStatisticsQuarterly"); }
                            @{ Html.RenderAction("YearlyStatistics", "RegistrationStatisticsYearly"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            @{ Html.RenderAction("MostLoggedIn", "ActiveUsers"); }
            @{ Html.RenderAction("MostRecent", "NewestUsers"); }
        </div>
    </div>
</section>