<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->
<!-- web.config contributed to html5boilerplate by Velir : velir.com -->
<!-- web.config merged into Html4OpenIdTemplate by mhamrah -->
<configuration>
  <configSections>
    <section name="UnicastBusConfig" type="NServiceBus.Config.UnicastBusConfig, NServiceBus.Core"/>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="enyim.com">
      <section name="memcached" type="Enyim.Caching.Configuration.MemcachedClientSection, Enyim.Caching" />
    </sectionGroup>
    <section name="threeBytesCache" type="ThreeBytes.Caching.Core.Configuration.Concrete.CacheConfigurationSection, ThreeBytes.Caching.Core.Configuration.Concrete"/>
    <section name="threeBytesUser" type="ThreeBytes.User.Configuration.Concrete.UserConfigurationSection, ThreeBytes.User.Configuration.Concrete"/>
    <section name="threeBytesEmail" type="ThreeBytes.Email.Configuration.Concrete.EmailConfigurationSection, ThreeBytes.Email.Configuration.Concrete"/>
    <section name="threeBytesLogin" type="ThreeBytes.User.Authentication.Login.Configuration.Concrete.LoginConfigurationSection, ThreeBytes.User.Authentication.Login.Configuration.Concrete"/>
    <section name="foursquareSettings" type="ThreeBytes.Core.Foursquare.Configuration.Concrete.FoursquareConfigurationSection, ThreeBytes.Core.Foursquare.Configuration.Concrete"/>
    <section name="facebookSettings" type="ThreeBytes.Core.Facebook.Configuration.Concrete.FacebookConfigurationSection, ThreeBytes.Core.Facebook.Configuration.Concrete"/>
    <section name="twitterSettings" type="ThreeBytes.Core.Twitter.Configuration.Concrete.TwitterConfigurationSection, ThreeBytes.Core.Twitter.Configuration.Concrete"/>
    <section name="threeBytesUserLoginStatisticsQuarterly" type="ThreeBytes.User.Dashboard.LoginStatisticsQuarterly.Configuration.Concrete.LoginStatisticsQuarterlyConfigurationSection, ThreeBytes.User.Dashboard.LoginStatisticsQuarterly.Configuration.Concrete"/>
    <section name="threeBytesUserRegistrationStatisticsQuarterly" type="ThreeBytes.User.Dashboard.RegistrationStatisticsQuarterly.Configuration.Concrete.RegistrationStatisticsQuarterlyConfigurationSection, ThreeBytes.User.Dashboard.RegistrationStatisticsQuarterly.Configuration.Concrete"/>
    <section name="threeBytesEmailDispatchQuarterly" type="ThreeBytes.Email.Dashboard.DispatchQuarterly.Configuration.Concrete.EmailDispatchQuarterlyConfigurationSection, ThreeBytes.Email.Dashboard.DispatchQuarterly.Configuration.Concrete"/>
    <section name="threeBytesCurrentlyViewing" type="ThreeBytes.SignalR.CurrentlyViewing.Configuration.Concrete.CurrentlyViewingConfigurationSection, ThreeBytes.SignalR.CurrentlyViewing.Configuration.Concrete"/>
  </configSections>
  <connectionStrings>
    <!--<add name="ThreeByteEmailContext" connectionString="data source=VEDO-LT;Database=ThreeBytesEmail;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ThreeByteEmailContext" connectionString="data source=JONATHAN-PC;Database=ThreeBytesEmail;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <add name="ThreeByteEmailContext" connectionString="data source=.\SQLEXPRESS;Database=ThreeBytesEmail;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
    <!--<add name="ThreeByteUsersContext" connectionString="data source=VEDO-LT;Database=ThreeBytesUsers;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <!--<add name="ThreeByteUsersContext" connectionString="data source=JONATHAN-PC;Database=ThreeBytesUsers;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />-->
    <add name="ThreeByteUsersContext" connectionString="data source=.\SQLEXPRESS;Database=ThreeBytesUsers;Integrated Security=True;MultipleActiveResultSets=True;Trusted_Connection=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <log4net debug="true">
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="C:\\git\\trunk\\src\\ThreeBytes.Email\\ThreeBytes.Email.WebUI\\logs\\" />
      <datePattern value="dd.MM.yyyy'.log'" />
      <staticLogFileName value="false" />
      <appendToFile value="true" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>

    <root>
      <level value="INFO" />
      <appender-ref ref="RollingLogFileAppender" />
    </root>
  </log4net>
  <enyim.com>
    <memcached protocol="Binary">
      <servers>
        <add address="127.0.0.1" port="11211" />
      </servers>
    </memcached>
  </enyim.com>
  <threeBytesCache enabled="false" />
  <threeBytesUser applicationName="ProjectHollywood" controller="EmailDashboardHost" action="Index" />
  <threeBytesEmail applicationName="ProjectHollywood"></threeBytesEmail>
  <threeBytesLogin />
  <facebookSettings appId="457320127631211" appSecret="e35e65d441ac1757bd77cc1eb91dae87" />
  <foursquareSettings clientId="JNKF1ZAM1KFOT1NBVXASDQT3AUUKH0MTIFNFZWRCN0H33SP4" clientSecret="E0W0OC5FV0BVS0Y05V43W1134SDXCVVV1ZU4Q0IMZE2TAMDA" />
  <twitterSettings consumerKey="dDXupxqC7Iw2QBukupMBuA" consumerSecret="8y68ha7ZG8VXFQEfRWW6fIEiVBMaRlm7f2ZF7ujiI" />
  <threeBytesUserLoginStatisticsQuarterly firstQuarterMonths="1,2,3" secondQuarterMonths="4,5,6" thirdQuarterMonths="7,8,9" fourthQuarterMonths="10,11,12" />
  <threeBytesUserRegistrationStatisticsQuarterly firstQuarterMonths="1,2,3" secondQuarterMonths="4,5,6" thirdQuarterMonths="7,8,9" fourthQuarterMonths="10,11,12" />
  <threeBytesEmailDispatchQuarterly firstQuarterMonths="1,2,3" secondQuarterMonths="4,5,6" thirdQuarterMonths="7,8,9" fourthQuarterMonths="10,11,12" />
  <threeBytesCurrentlyViewing cssColourClasses="background-blue,background-blue,background-green,background-red,background-yellow,background-orange,background-purple" />
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <UnicastBusConfig>
    <MessageEndpointMappings>
      <add Messages="ThreeBytes.Email.Template.Messages" Endpoint="threebytes-email"></add>
      <add Messages="ThreeBytes.User.Authentication.Messages" Endpoint="threebytes-user"></add>
      <add Messages="ThreeBytes.User.Role.Messages" Endpoint="threebytes-user"></add>
      <add Messages="ThreeBytes.User.Profile.Messages" Endpoint="threebytes-user"></add>
      <add Messages="ThreeBytes.Logging.Messages" Endpoint="threebytes-logging"></add>
    </MessageEndpointMappings>
  </UnicastBusConfig>
  <MsmqTransportConfig ErrorQueue="threebytes-web-email-error" NumberOfWorkerThreads="1" MaxRetries="5"/>
  <system.web>
    <httpModules>
      <add name="PerRequestLifestyle" type="Castle.MicroKernel.Lifestyle.PerWebRequestLifestyleModule, Castle.Windsor" />
    </httpModules>
    <machineKey validationKey='F17294CA34AC59C76A8AC5942E8BB5A887B3AF2E08ABDA07FA8E077C577EBDAA22CB7C8FEA61DCC6587628A8C842B580B007F1F6B77AB72B7332BF043D8A2A6A' decryptionKey='E5B8663F884159328364B60BCB4418585C4C39BABA8DECA8' validation='SHA1'/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
      </providers>
    </membership>
    <roleManager enabled="false">
      <providers>
        <clear />        
      </providers>
    </roleManager>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

			<customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
				<error statusCode="403" redirect="NoAccess.htm" />
				<error statusCode="404" redirect="FileNotFound.htm" />
			</customErrors>
        -->
    <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.html">
      <error statusCode="404" redirect="404.html" />
    </customErrors>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
        <add namespace="ThreeBytes.Core.Extensions.Mvc" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <!-- 
				GZip static file content.  Overrides the server default which only compresses static files over 2700 bytes
			-->
    <httpCompression directory="%SystemDrive%\websites\_compressed" minFileSizeForComp="1024">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="message/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
    </httpCompression>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <urlCompression doStaticCompression="true" />
    <staticContent>
      <!-- Set expire headers to 30 days for static content-->
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
      <!-- use utf-8 encoding for anything served text/plain or text/html -->
      <remove fileExtension=".css" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <remove fileExtension=".js" />
      <mimeMap fileExtension=".js" mimeType="text/javascript; charset=UTF-8" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".json" mimeType="application/json; charset=UTF-8" />
      <remove fileExtension=".rss" />
      <mimeMap fileExtension=".rss" mimeType="application/rss+xml; charset=UTF-8" />
      <remove fileExtension=".html" />
      <mimeMap fileExtension=".html" mimeType="text/html; charset=UTF-8" />
      <remove fileExtension=".xml" />
      <mimeMap fileExtension=".xml" mimeType="application/xml; charset=UTF-8" />
      <!-- HTML5 Video mime types-->
      <remove fileExtension=".mp4"/>
      <remove fileExtension=".m4v"/>
      <remove fileExtension=".ogg"/>
      <remove fileExtension=".ogv"/>
      <remove fileExtension=".webm"/>
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".m4v" mimeType="video/m4v" />
      <mimeMap fileExtension=".ogg" mimeType="video/ogg" />
      <mimeMap fileExtension=".ogv" mimeType="video/ogg" />
      <mimeMap fileExtension=".webm" mimeType="video/webm" />
      
      <!-- Proper svg serving. Required for svg webfonts on iPad -->
      <remove fileExtension=".svg"/>
      <remove fileExtension=".svgz"/>
      <mimeMap fileExtension=".svg" mimeType="images/svg+xml" />
      <mimeMap fileExtension=".svgz" mimeType="images/svg+xml" />
      
      <!-- HTML4 Web font mime types -->
      <!-- Remove default IIS mime type for .eot which is application/octet-stream -->      
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf"/>
      <remove fileExtension=".woff"/>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />      
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <!-- 
					http://hacks.mozilla.org/2009/07/cross-site-xmlhttprequest-with-cors/
					Uncomment to serve cross-domain ajax requests
				
					<add name="Access-Control-Allow-Origin" value="*" />
				-->
        <!-- 
					Force the latest IE version, in various cases when it may fall back to IE7 mode
					 github.com/rails/rails/commit/123eb25#commitcomment-118920
					Use ChromeFrame if it's installed for a better experience for the poor IE folk 
				-->
        <add name="X-UA-Compatible" value="IE=Edge,chrome=1" />
        <!-- 
					Allow cookies to be set from iframes (for IE only)
					If needed, uncomment and specify a path or regex in the Location directive 

					<add name="P3P" value="policyref=&quot;/w3c/p3p.xml&quot;, CP=&quot;IDC DSP COR ADM DEVi TAIi PSA PSD IVAi IVDi CONi HIS OUR IND CNT&quot;" />
				-->
      </customHeaders>
    </httpProtocol>
    <!-- 
					Remove the WWW from the URL.  
					Requires IIS Rewrite module http://learn.iis.net/page.aspx/460/using-the-url-rewrite-module/ 
					Configuration lifted from http://nayyeri.net/remove-www-prefix-from-urls-with-url-rewrite-module-for-iis-7-0
					 
					 <rewrite>
						<rules>
						  <rule name="Remove WWW" stopProcessing="true">
							<match url="^(.*)$" />
							<conditions>
							  <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" />
							</conditions>
							<action type="Redirect" url="http://nayyeri.net{PATH_INFO}" redirectType="Permanent" />
						  </rule>
						</rules>
					 </rewrite>
				-->
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="3.0.0.0" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.8.0" newVersion="4.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="dotless.Core" publicKeyToken="96b446c9e63eae34" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.2.0" newVersion="1.3.0.5" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.5.1.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <legacyHMACWarning enabled="0" />
  </runtime>
  <!-- The uri section is necessary to turn on .NET 3.5 support for IDN (international domain names),
	     which is necessary for OpenID urls with unicode characters in the domain/host name. 
	     It is also required to put the Uri class into RFC 3986 escaping mode, which OpenID and OAuth require. -->
  <system.net>
    <defaultProxy enabled="true" />
    <settings>
      <!-- This setting causes .NET to check certificate revocation lists (CRL) 
			     before trusting HTTPS certificates.  But this setting tends to not 
			     be allowed in shared hosting environments. -->
      <!--<servicePointManager checkCertificateRevocationList="true"/>-->
    </settings>
  </system.net>  
</configuration>