@model ThreeBytes.ProjectHollywood.News.View.Entities.NewsViewNewsArticle

<div id="details-news-article-page" data-role="page">
    <div data-role="header">
        <h1><span data-bind="fadeInText:Title"></span></h1>
        <a href="#navigation" data-icon="grid" data-rel="dialog" data-transition="flow" class="ui-btn-right">Menu</a>
    </div>
     <div data-role="content">
        <div class="row">
            <div class="span12">
                <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
				    <li class="ui-li ui-li-static ui-body-c ui-corner-top">Created By: <span data-bind="fadeInText: CreatedBy"></span> | Created: <span data-bind="fadeInText: GetDate(CreationDateTime())"></span></li>
				    <li class="ui-li ui-li-static ui-body-c ui-corner-bottom"><span data-bind="fadeInText:Content"></span></li>
			    </ul>
            </div>
        </div>
        <div class="row">
            <div class="span12">
                <a href="#" data-bind="click: takeMeBack" data-role="button" data-theme="b" data-icon="back">
                    <span class="ui-btn-text">Take me back</span>
                </a>
            </div>
        </div>
    </div>
    <div data-role="footer">
        <h4>Designed and built by <a href="http://www.threebytes.co.uk" target="_blank">Three Bytes</a>.</h4>
    </div>
</div>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"
        var news_article_details = {};

        (function (index) {

            news_article_details = index;

            var hub = jQuery.connection.newsViewHub;

            index.Id = ko.observable();
            index.ItemId = ko.observable();
            index.CreatedBy = ko.observable();
            index.CreationDateTime = ko.observable();
            index.Title = ko.observable();
            index.Content = ko.observable();
            index.History = ko.observableArray();

            index.takeMeBack = function() {
                jQuery(document).trigger('newsHost');
            };

            hub.handleRenamedNewsArticleTitleEventMessage = function(id, newTitle) {
                if (index.Id() != id)
                    return;

                if (index.Title() == newTitle)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;
                index.Title(newTitle);
                ko.bindingHandlers.fadeInText.highlight = false;
            };

            hub.handleUpdatedNewsArticleContentEventMessage = function(id, newContent) {
                if (index.Id() != id)
                    return;

                if (index.Content() == newContent)
                    return;

                ko.bindingHandlers.fadeInText.highlight = true;
                index.Content(newContent);
                ko.bindingHandlers.fadeInText.highlight = false;
            };

            hub.handleDeletedNewsArticleEventMessage = function(id) {
                if (index.ItemId() != id)
                    return;

                jQuery(document).trigger('publishNotAllowedNotification', ['News Article No Longer Available.', 'This news article has been removed by another user. The window will automatically close.']);
                index.detailModal.modal('hide');
                index.Id(null);
            };

            jQuery(document).bind('newsArticleDetails', function (event, newsArticle) {
                jQuery.ajax({
                    url: '/News/GetDetails/' + newsArticle.Id(),
                    type: 'GET',
                    dataType: 'json',
                    beforeSend: function () { jQuery.mobile.showPageLoadingMsg(); },
                    success: function(data) {
                        index.Id(data.Id);
                        index.ItemId(data.ItemId);
                        index.CreatedBy(data.CreatedBy);
                        index.CreationDateTime(data.CreationDateTime);
                        index.Title(data.Title);
                        index.Content(data.Content);
                        index.History(data.History);

                        jQuery.mobile.hidePageLoadingMsg();
                        jQuery.mobile.changePage('#details-news-article-page', {
	                        transition: 'flow',
	                        reverse: false,
	                        changeHash: false
                        });
                    },
                    complete: function() { jQuery.mobile.hidePageLoadingMsg(); }
                });
            });

            jQuery(function () {
                ko.applyBindings(index, jQuery('#details-news-article-page')[0]);
            });

        } (news_article_details));");
  }
}