@using ThreeBytes.Core.Security.Concrete
@{
	Page.Title = "Email System Dashboard";
}

<section id="home">
    <div class="row">    
	    <div class="span12">      		
	      	<div class="widget big-stats-container">		
	      		<div class="widget-content">			
			      	<div id="big_stats" class="cf">
						@{ Html.RenderAction("DailyStatistic", "DispatchDaily"); }	
						@{ Html.RenderAction("MonthlyStatistic", "DispatchMonthly"); }	
                        @{ Html.RenderAction("QuarterlyStatistic", "DispatchQuarterly"); }
                        @{ Html.RenderAction("YearlyStatistic", "DispatchYearly"); }
					</div>				
				</div>					
			</div>
	    </div>	      	
	</div>
    <div class="row"> 
        <div class="span8">
            <div class="widget">
                <div class="widget-header">
                    <i class="icon-signal"></i>
                    <h3>Email Statistics</h3>
                </div>
                <div class="widget-content">
                    <div class="row">
                        <div class="span3">
                            @{ Html.RenderAction("DailyStatistics", "DispatchDaily"); }
                            @{ Html.RenderAction("MonthlyStatistics", "DispatchMonthly"); }
                        </div>
                        <div class="span4">
                            @{ Html.RenderAction("QuarterlyStatistics", "DispatchQuarterly"); }
                            @{ Html.RenderAction("YearlyStatistics", "DispatchYearly"); }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="span4">
            @{ Html.RenderAction("MostRecent", "EmailDispatchWidget"); }
            @{ Html.RenderAction("MostRecent", "EmailTemplateWidget"); }
        </div>   
    </div>
</section>

@{ Html.RenderAction("Details", "EmailDispatchView");}
@{ Html.RenderAction("Details", "EmailTemplateView");}

@if (((ThreeBytesPrincipal) Context.User).IsInAnyRoles(new[] { "Admin", "EmailTemplateManager" }))
{
    { Html.RenderAction("Edit", "EmailTemplateManagement"); }
}
        
@if (((ThreeBytesPrincipal) Context.User).IsInAnyRoles(new[] { "Admin", "EmailTemplateManager" }))
{ 
    { Html.RenderAction("Delete", "EmailTemplateManagement"); }
}