@using ThreeBytes.Email.Dashboard.DispatchYearly.Frontend.Models
@model DispatchStatisticViewModel

<div id="yearly-email-dispatch-statistics-container" class="stat">
    <h4>Dispatched Emails This Year</h4>
    <span class="value">@Model.CurrentStatistic</span>
</div>