@{
    ViewBag.Title = Resources.BrowserTitleErrorLogin;
}

<section id="authorisation-login-error">
    <div class="hero-unit"> 
        <h1>@Resources.ThreeBytesUser</h1> 
    </div>
    <div class="row">
        @Resources.DoNotHaveSecurityAccess
    </div>
</section>
