@{
    ViewBag.Title = Resources.BrowserTitleErrorRole;
}

<section id="authorisation-role-error">
    <div class="hero-unit"> 
        <h1>@Resources.ThreeBytesUser</h1> 
    </div>
    <div class="row">
        @Resources.DoNotHaveSecurityRoles
    </div>
</section>