@model RegistrationStatisticsViewModel

<div id="quarterly-registration-statistics-container">
    <div><span class="inline-sparkline"></span><span>@Model.CurrentStatistic <span data-bind="text: plural"></span> This Quarter</span></div>
</div>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"
        var quarterly_registration_statistics  = {};
    
        (function (index) {
        
            quarterly_registration_statistics = index = ko.mapping.fromJS(" + @Html.Raw(new JavaScriptSerializer().Serialize(Model)) + @");

            index.plural = ko.dependentObservable(function () {
                return index.CurrentStatistic() == 1 ? 'Registration' : 'Registrations';
            }, index);

            jQuery(function() {
                ko.applyBindings(index, jQuery('#quarterly-registration-statistics-container')[0]);
                jQuery('#quarterly-registration-statistics-container .inline-sparkline').sparkline(index.HistoricStatistics(), {type:'line', lineColor:'blue', height:'30px', width:'80px'});
            });     

        } (quarterly_registration_statistics));");
  }
}