@using ThreeBytes.Email.Dashboard.DispatchMonthly.Frontend.Models
@model DispatchStatisticViewModel

<div id="monthly-email-dispatch-statistic-container" class="stat">
    <h4>Dispatched Emails This Month</h4>
    <span class="value">@Model.CurrentStatistic</span>
</div>