<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
  </configSections>

  <connectionStrings>
  </connectionStrings>
  
  <MsmqSubscriptionStorageConfig Queue="threebytes-user-subscriptions" />
  <MsmqTransportConfig
    InputQueue="threebytes-user"
    ErrorQueue="threebytes-user-error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <appSettings>
    <add key="EndpointConfigurationType" value="ThreeBytes.User.ServiceHost.EndpointConfig, ThreeBytes.User.ServiceHost"/>
  </appSettings>
</configuration>