@media (max-width: 480px) {
  .error-container h1 {
    font-size: 72px;
  }
  .stats .stat {
    margin-bottom: 3em;
  }
  .stats .stat .stat-value {
    margin-bottom: .15em;
    font-size: 20px;
  }
  .stats {
    float: left;
    display: block;
    margin-bottom: 0;
  }
  #chart-stats {
    margin: 2em 0 1em;
  }
  .shortcuts .shortcut {
    width: 48%;
  }
  .account-container {
    width: 280px;
    margin-top: 35px;
  }
  .login-fields input {
    width: 160px;
  }
  .login-social {
    width: 100%;
  }
  .twitter {
    display: block;
    margin-bottom: 1em;
  }
  .register .login-fields input {
    width: 204px;
    padding-left: 6px;
  }
}
@media all and (max-width: 950px) and (min-width: 1px) {
  #big_stats {
    display: block;
    margin-bottom: -40px;
  }
  #big_stats .stat {
    width: 49%;
    display: block;
    margin-bottom: 3em;
    float: left;
  }
  #big_stats .stat:nth-child(2) {
    border-right: none;
  }
  #big_stats .stat:nth-child(3) {
    border-left: none;
  }
}
@media (max-width: 767px) {
  #main {
    padding: 0 10px;
    margin-right: -20px;
    margin-left: -20px;
  }
  .subnavbar {
    margin-left: -20px;
    margin-right: -20px;
  }
  .subnavbar-inner {
    height: auto;
  }
  .subnavbar .container > ul {
    width: 100%;
    height: auto;
    border: none;
  }
  .subnavbar .container > ul > li {
    width: 33%;
    height: 70px;
    margin-bottom: 0;
    border: none;
  }
  .subnavbar .container > ul > li.active > a {
    font-size: 11px;
    background: transparent;
  }
  .subnavbar .container > ul > li > a > i {
    display: inline-block;
    margin-bottom: 0;
    font-size: 20px;
  }
  .subnavbar-open-right .dropdown-menu {
    left: auto;
    right: 0;
  }
  .subnavbar-open-right .dropdown-menu:before {
    left: auto;
    right: 12px;
  }
  .subnavbar-open-right .dropdown-menu:after {
    left: auto;
    right: 13px;
  }
  .extra {
    margin-right: -20px;
    margin-left: -20px;
  }
  .extra .container {
    padding: 0 20px;
  }
  .footer {
    margin-right: -20px;
    margin-left: -20px;
  }
  .footer .container {
    padding: 0 20px;
  }
  .footer .footer-terms {
    text-align: left;
  }
  .footer .footer-terms a {
    margin-left: 0;
    margin-right: 1em;
  }
  .pricing-plans .plan-container {
    width: 100% !important;
    margin-bottom: 2em;
  }
  #big_stats .stat .value {
    font-size: 40px;
  }
}
@media (min-width: 767px) {
  .pricing-plans .plan-container {
    width: 50% !important;
    margin-bottom: 2em;
  }
}
@media (max-width: 979px) {
  .navbar-fixed-top {
    position: static;
    margin-bottom: 0;
  }
  .subnavbar .container {
    width: auto;
  }
  .shortcuts .shortcut {
    width: 31%;
  }
  .pricing-plans .plan-container {
    width: 50% !important;
    margin-bottom: 2em;
  }
}
@media (min-width: 1200px) {
  .navbar .search-query {
    width: 200px;
  }
}
