@{
    ViewBag.Title = Resources.BrowserTitle;
}

<section id="user-user-home">
    <div class="row">
        <div class="span12 columns">
            @{ Html.RenderAction("List", "AuthenticationUserList"); }    
        </div>

        @{ Html.RenderAction("Details", "AuthenticationUserView"); }

        @{ Html.RenderAction("Manage", "AuthenticationUserManagement"); }
            
    </div>
</section>