@{
    Page.Title = Resources.BrowserTitleAbout;
}

<section id="about">
    <div class="hero-unit"> 
        <h1>@Resources.AboutThreeBytesUsers</h1> 
    </div>
    <div class="row">
        <div class="span16 columns">
        </div>            
    </div>
</section>
