@model RegistrationStatisticViewModel

<div id="daily-registration-statistic-container" class="stat">								
    <h4>Unique <span data-bind="text: plural"></span> Today</h4>
    <span class="value">@Model.CurrentStatistic</span>								
</div>

@{ 
  using (Html.BeginScriptContext())
  {
    Html.AddScriptBlock(@"
        var daily_registration_statistic  = {};
    
        (function (index) {
        
            daily_registration_statistic = index = ko.mapping.fromJS(" + @Html.Raw(new JavaScriptSerializer().Serialize(Model)) + @");

            index.plural = ko.dependentObservable(function () {
                return index.CurrentStatistic() == 1 ? 'Registration' : 'Registrations';
            }, index);

            jQuery(function() {
                ko.applyBindings(index, jQuery('#daily-registration-statistic-container')[0]);
            });     

        } (daily_registration_statistic));");
  }
}