@section Header
{
    <h1>History</h1>
}

<div id="history-content">
    <div class="row">
        <div class="span12">
            <ul data-role="listview" data-inset="true" class="ui-listview ui-listview-inset ui-corner-all ui-shadow">
			    <li data-corners="false" data-shadow="false" data-iconshadow="true" data-wrapperels="div" data-icon="arrow-r" data-iconpos="right" data-theme="c" class="ui-btn ui-btn-icon-right ui-li-has-arrow ui-li ui-corner-top ui-btn-up-c">
                    <div class="ui-li ui-corner-top">
                        <div class="ui-btn-text">
                            <p class="ui-li-desc">The global de Wolfe dynasty historically and still today, has its members at the forefront of the entertainment, <a href="#fdw-music-page" data-rel="dialog" data-transition="flow">music*</a>, and legal industries.</p>
                            <p class="ui-li-desc">
                                The late Felix de Wolfe, was the founder of the Felix de Wolfe Theatrical and Literary Agency, which for over sixty years has represented some of the best loved internationally renowned stars.
                                His daughter Caroline de Wolfe, who took the helm in 2004, worked alongside him for 20 years and shares his passion for the business and his traditional work ethic.
                            </p>
                            <p class="ui-li-desc">
                                Felix's hallmarks as an agent were his talent for friendship and his endless courtesy and patience. Many of his clients became personal friends, and his reputation throughout the industry was a fair but charmingly  effective negotiator.
                                In a world where celebrity has become the universal currency, Felix's style was wonderfully un-vulgar and full or old-world gravitas.
                                He simply wouldn't countenance short-term money-spinning deals.
                                Client's careers were, in many cases literally, a lifetime's reponsibility.
                            </p>
                            <p class="ui-li-desc">
                                His solicitude and professional charm cloaked a brilliant instinct for matching talent to popular taste: few agents were able to read the emerging zeitgeist like de Wolfe.
                                These rare qualities are still the corner stones of the agency ethos today.
                            </p>
                            <p class="ui-li-desc">
                                Through Caroline and her team's progressive approach she has successfully renewed the agency without compromising her father's principles, pushing it forward into a new and demanding present.
                                Developing and strengthening home and international relationships, to be a catalyst for the careers of her lesser-known clients, and a facilitator to the already established ones.
                            </p>
                        </div>
                    </div>
                </li>
		    </ul>
        </div>
    </div>
</div>

@section OtherPages
{
    <div data-role="page" id="fdw-music-page">
        <div data-role="header">
            <h1>de Wolfe Music</h1>
        </div>
        <div data-role="content">
            <a href="http://www.dewolfe.co.uk/" rel='external'>For more information on de Wolfe Music click here.</a>
        </div>
        <div data-role="footer"></div>
    </div>
}