<div id="about" data-role="page">
 
  <div data-role="header">
    <h1>About</h1>
  </div>
 
  <div data-role="content"> 
    <p>About ThreeBytes Email.</p>
    <a href="/" rel="external" data-role="button" data-theme="a" data-icon="arrow-l">Back</a>
  </div>
 
  <div data-role="footer">
    <h4>Designed and built by <a href="http://www.threebytes.co.uk" target="_blank">Three Bytes</a>.</h4>
  </div>

</div>