html, body
{
    background-color: #eee;
}

.content
{
    background-color: #fff;
    padding: 20px;
    margin-top: -20px;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.display-label, .editor-label
{
    margin: 1em 0 0 50px;
    font-weight: bold;
}

.display-field, .editor-field
{
    margin: 0.5em 0 0 50px;
}

.overall-table-count
{
    margin-bottom: 10px;
}

.modal-wide
{
    width: 900px;
    margin: -250px 0 0 -450px;
}

.modal-medium-wide
{
    width: 700px;
    margin: -250px 0 0 -350px;
}

.modal-body-scrollable
{
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.pagination-centre {
  height: 36px;
  margin: 18px 0;
}
.pagination-centre ul {
  word-spacing: -1em; /* hide whitespace between elements if separated by whitespace in the source */
}
.pagination-centre li {
    display: -moz-inline-box; /* FF2 or lower */
    display: inline-block;
    word-spacing: normal;
    vertical-align: top;
    /* IE6/7 inline-block hack */
    *display: inline;
    *zoom: 1;
}
.pagination-centre a {
  float: left;
  padding: 0 14px;
  line-height: 34px;

  text-decoration: none;
}
.pagination-centre a:hover, .pagination .active a {
  background-color: #c7eefe;
}
.pagination-centre .disabled a, .pagination .disabled a:hover {
  background-color: transparent;
  color: #bfbfbf;
}
.pagination-centre .next a {
  border: 0;
}

.errors {
  color: #b94a48;
  padding-top: 5px;
}

.background-blue 
{
    border:solid 1px 1px 1px 1px;
    background-color: #049cdb;
    border-bottom-color: #049cdb;
    margin-right: 2px;
}

.background-light-blue 
{
  border:solid 1px 1px 1px 1px;
  background-color: #ade6fe;
  border-bottom-color:  #ade6fe;
  margin-right: 2px;
}

.background-green 
{
  border:solid 1px 1px 1px 1px;
  background-color: #46a546;
  border-bottom-color: #46a546;
  margin-right: 2px;
}

.background-red 
{
  border:solid 1px 1px 1px 1px;  
  background-color: #9d261d;
  border-bottom-color: #9d261d;
  margin-right: 2px;
}

.background-yellow 
{
  border:solid 1px 1px 1px 1px;
  background-color: #ffc40d;
  border-bottom-color: #ffc40d;
  margin-right: 2px;
}

.background-orange 
{
  border:solid 1px 1px 1px 1px;  
  background-color: #f89406;
  border-bottom-color: #f89406;
  margin-right: 2px;
}

.background-purple 
{
  border:solid 1px 1px 1px 1px;  
  background-color: #7a43b6;
  border-bottom-color: #7a43b6;
  margin-right: 2px;
}

#partial-login-form
{
    margin: 20px 20px 20px 20px;
}
table .header {
  cursor: pointer;
}
table .header:after {
  content: "";
  float: right;
  border-width: 0 4px 4px;
  border-style: solid;
  border-color: #000 transparent;
  visibility: hidden;
}
table .headerSortUp, table .headerSortDown {
  background-color: rgba(141, 192, 219, 0.25);
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}
table .header:hover:after {
  visibility: visible;
}
table .headerSortDown:after, table .headerSortDown:hover:after {
  visibility: visible;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .headerSortUp:after {
  border-bottom: none;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #000;
  visibility: visible;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  filter: alpha(opacity=60);
  -khtml-opacity: 0.6;
  -moz-opacity: 0.6;
  opacity: 0.6;
}
table .blue {
  color: #049cdb;
  border-bottom-color: #049cdb;
}
table .headerSortUp.blue, table .headerSortDown.blue {
  background-color: #ade6fe;
}
table .light-blue {
  color: #ade6fe;
  border-bottom-color:  #ade6fe;
}
table .headerSortUp.light-blue, table .headerSortDown.light-blue {
  background-color: #049cdb;
}
table .green {
  color: #46a546;
  border-bottom-color: #46a546;
}
table .headerSortUp.green, table .headerSortDown.green {
  background-color: #cdeacd;
}
table .red {
  color: #9d261d;
  border-bottom-color: #9d261d;
}
table .headerSortUp.red, table .headerSortDown.red {
  background-color: #f4c8c5;
}
table .yellow {
  color: #ffc40d;
  border-bottom-color: #ffc40d;
}
table .headerSortUp.yellow, table .headerSortDown.yellow {
  background-color: #fff6d9;
}
table .orange {
  color: #f89406;
  border-bottom-color: #f89406;
}
table .headerSortUp.orange, table .headerSortDown.orange {
  background-color: #fee9cc;
}
table .purple {
  color: #7a43b6;
  border-bottom-color: #7a43b6;
}
table .headerSortUp.purple, table .headerSortDown.purple {
  background-color: #e2d5f0;
}

.link 
{
    cursor: pointer;
}