@{
    ViewBag.Title = Resources.BrowserTitle;
}

<section id="dispatch-home">
    <div class="hero-unit"> 
        <h1>@Resources.PageHeader</h1> 
    </div>
    <div class="row">
        <div class="span12 columns">

            @{ Html.RenderAction("List", "EmailDispatchList"); }
       
        </div>

        @{ Html.RenderAction("Details", "EmailDispatchView");}
            
    </div>
</section>