@{
	Page.Title = Resources.AboutBrowserTitle;
}

<section id="about">
    <div class="hero-unit"> 
        <h1>@Resources.AboutThreeBytesEmail</h1> 
    </div>
    <div class="row">
        <div class="span12 columns">
        </div>            
    </div>
</section>
