<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <MsmqSubscriptionStorageConfig Queue="threebytes-email-subscriptions" />
  <MsmqTransportConfig
    InputQueue="threebytes-email"
    ErrorQueue="threebytes-email-error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <system.net>
    <mailSettings>
      <smtp deliveryMethod="SpecifiedPickupDirectory">
        <network host="ignored" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\email" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="EndpointConfigurationType" value="ThreeBytes.Email.ServiceHost.EndpointConfig, ThreeBytes.Email.ServiceHost"/>
  </appSettings>
</configuration>