<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="MsmqTransportConfig" type="NServiceBus.Config.MsmqTransportConfig, NServiceBus.Core" />
    <section name="MsmqSubscriptionStorageConfig" type="NServiceBus.Config.MsmqSubscriptionStorageConfig, NServiceBus.Core" />
  </configSections>

  <connectionStrings>
  </connectionStrings>

  <MsmqSubscriptionStorageConfig Queue="threebytes-logging-subscriptions" />
  <MsmqTransportConfig
    InputQueue="threebytes-logging"
    ErrorQueue="threebytes-logging-error"
    NumberOfWorkerThreads="1"
    MaxRetries="5"
  />

  <appSettings>
    <add key="EndpointConfigurationType" value="ThreeBytes.Logging.ServiceHost.EndpointConfig, ThreeBytes.Logging.ServiceHost"/>
  </appSettings>
</configuration>