@model DispatchStatisticViewModel

<div id="quarterly-email-dispatch-statistics-container" class="stat">
    <h4>Dispatched Emails This Quarter</h4>
    <span class="value">@Model.CurrentStatistic</span>
</div>